body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: hsl(31, 58%, 89%);
  height: 1450px;
}
.container{
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 1320px;
  width: 500px;
  border-radius: 15px;
  position: absolute;
  top: 70px;
}
